{{> head }}
{{> navbar }}

<div class="row">
<div class="col-8">
    <h1>Imagen de OM</h1>
    <p>Esta sílaba también se llama el udgīthá (‘canto fuerte’)2​ o el praṇava mantra (‘oración vibrante’, siendo praṇauti o praṇu ‘hacer un rumor vibrante’),3​ pues es considerada por los hindúes el sonido primordial, principio de la mayoría de los mantras, palabras o sonidos divinos y poderosos.4​

El oṃ es el símbolo de lo esencial en el hinduismo. Significa unidad con lo supremo, la combinación de lo físico con lo espiritual. Es la sílaba sagrada, el primer sonido del Todopoderoso, el sonido del que emergen todos los demás sonidos, ya sean de la música o del lenguaje divino. Muchas personas (sin necesidad de ser parte de la religión) utilizan el simbolismo para expresar unión de cuerpo, mente y espíritu. Es por ello que lo suelen asociar, y en ocasiones lo reemplazan, con el símbolo del infinito.</p>
</div>
<div class="col-4">
    <img src="/assets/img/om-decorative.jpg" class="img-thumbnail">
</div>
</div>

{{> footer }}